
html{
    scroll-behavior: smooth;
}
.bg-roxo {
    background-image: linear-gradient(100deg, rgb(72, 43, 99), rgb(72, 15, 124));
}

.btn:hover{
    transform: translateY(-2px);
    transition: 1s;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.text-aliceblue {
    color: aliceblue;
}

.bg-aliceblue{
    background-color: aliceblue;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.text-white:hover{
    color: rgb(160, 160, 160) !important;
}

.nav-link{
    margin-left: 15px;
}

.container-carro {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: -30px;
}

.imagem-carro {
    width: 300px;
    animation: flutuar 2.5s ease;
}

#sobre_nos{
    min-height: 90vh;
}


#sobre_nos h1{
    color: aliceblue;
    text-align: center;
    padding: 50px;
}

.topo {
    padding-top: 100px;
    color: #472258;
    background-color: aliceblue;
    min-height: 150px;
}

.titulo-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #472258;
}

.texto-empilhado {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0.8;
}

.texto-empilhado strong {
    font-size: 20px;
    text-transform: uppercase;
}

.nome-maior {
    font-size: 65px;
    font-weight: 900;
}

.um {
    font-weight: 300;
    font-size: 15px;
}

.um strong {
    font-weight: 700;
}

.dois {
    font-weight: 300;
    font-size: 15px;
}

.dois strong {
    font-weight: 700;
}

@keyframes flutuar{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media (max-width: 900px){
    .d-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .espaco{
        margin-bottom: 50px;
    }
    .loja img {
        width: 90% !important;
    }
}

.bg-cinza{
    background-color: rgb(182, 182, 182);
}

.cinza{
    padding: 32px;
}

.loja{
    margin: 20px;
}

#contato ul li{
    list-style: none;
}

.formulário {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box{
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.input-box::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

.input-box:focus{
    border: 1px solid #472258;
    box-shadow: rgba(44, 29, 129, 0.15) 0px 48px 100px 0px;
}

#contato{
    padding: 20px;
}
